
.wrap .display .header_and_search{
    width: 100%;
    max-width: 600px;
    height: 120px;
    box-sizing: border-box;
    display: block;
    background: url(./image/background.png);
    padding: 0 24px 0 24px;
    position: fixed;

}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

header img{
    width: 100%;
    height: auto;
    max-width: 69px;
}

/* 검색 */
.search form{
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    border: 1px solid #111;
    border-radius: 8px;
    margin-bottom: 16px;
}
.search form input{
    font-size: var(--font-body2);
    font-family: 'KyoboHand';
}
.search form input::placeholder{
    font-family: 'KyoboHand';
}
.search form .inputbox{
    display: flex;
    justify-content: center;
}
.search form .inputbox .search_icon{
    margin-right: 4px;
}
.search form img{
    width: 24px;
    height: 24px;
}
.search form button.filter img {
    display: block;
}

/* 메인 */
.content_wrap{
    min-height: calc(100vh - 60px - 172px);
    margin-top: 120px;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    padding: 0 24px 0 24px;

}
.content_wrap .contentbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
}
.contentbox .content_left{
    display: flex;
    align-items: center;
    width: auto;
}
.contentbox .content_left .imgbox{
    width: 40px;
    height: 40px;
    background: url(./image/flower/flower_sample.jpeg);
    background-size: contain;
    border-radius: 8PX;
}
.contentbox .content_left .name{
    padding-left: 12px;
    font-size: var(--font-body2);
}
.contentbox .content_right{
    display: flex;
    align-items: center;
    width: auto;
}
.contentbox .content_right button{
    padding-left: 8px;
}
.contentbox .content_right img{
    width: 24px;
    height: 24px;
}

/* 하단바 */
.bottom_nav{
    width: 100%;
    height: 60px;
    max-width: 600px;
    position: fixed;
    background-color: #fff;
    bottom: 0;
}
.bottom_nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--nav-stroke);
}
.bottom_nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.bottom_nav div a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 80px;

    width: calc(100% - 48px); /* 화면 너비에서 좌우 24px씩 빼기 */
    max-width: 552px; /* 최대 너비는 600px - 48px */
    
    left: 50%;
    transform: translateX(-50%); /* 화면 가운데 정렬 */

    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;

    font-size: var(--font-caption);
    line-height: 38px;
    text-align: center;

    z-index: 9999; /* 최상위에 위치 */
    box-sizing: border-box;
}