
body{
    overflow: hidden;
}

.wrap .display .header_and_search{
    width: 100%;
    max-width: 600px;
    height: 120px;
    box-sizing: border-box;
    display: block;
    background: url(../image/background.png);
    padding: 0 20px 0 20px;
    position: fixed;

}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

header img{
    width: 100%;
    height: auto;
    max-width: 69px;
}

/* 검색 */
.search form{
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    border: 1px solid #111;
    border-radius: 8px;
    margin-bottom: 16px;
}
.search form input{
    font-size: var(--font-body2);
    font-family: 'KyoboHand';
}
.search form input::placeholder{
    font-family: 'KyoboHand';
}
.search form .inputbox{
    display: flex;
    justify-content: center;
}
.search form img{
    width: 24px;
    height: 24px;
}
.search form button.filter img {
    display: block;
}

/* 메인 */
.content_wrap{
    min-height: calc(100vh - 60px - 172px);
    margin-top: 120px;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;

}
.content_wrap .contentbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
}
.contentbox .content_left{
    display: flex;
    align-items: center;
    width: auto;
}
.contentbox .content_left .imgbox{
    width: 40px;
    height: 40px;
    background: url(../image/flower/flower_sample.jpeg);
    background-size: contain;
    border-radius: 8PX;
}
.contentbox .content_left .name{
    padding-left: 12px;
    font-size: var(--font-body2);
}
.contentbox .content_right{
    display: flex;
    align-items: center;
    width: auto;
}
.contentbox .content_right button{
    padding-left: 8px;
}
.contentbox .content_right img{
    width: 24px;
    height: 24px;
}

/* 하단바 */
.bottom_nav{
    width: 100%;
    height: 60px;
    max-width: 600px;
    position: fixed;
    background-color: #fff;
    bottom: 0;
}
.bottom_nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--nav-stroke);
}
.bottom_nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.bottom_nav div a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

/* 모달------------------------------ */

.modal{
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 572px;
    bottom: 0;
    background: url(../image/background.png);
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px; 
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0; 
    z-index: 9999;
}
.modal .content_box{
    width: 100%;
    height: 100%;
    padding: 0 24px 0 24px;
}
.modal .content_box .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}
.modal .content_box .header::after{
    content: "";
    position: absolute;
    top: 64px;
    left: 24px;
    right: 24px;
    height: 1px;
    background: var(--nav-stroke);
}
.modal .content_box .header span{
    font-size: var(--font-head);
}

.modal .content_box .header .close_btn{
    width: 24px;
    height: 24px;
    background-image: url(../icon/close.svg);
}
.modal .content_box .inner_content_box{
    margin-top: 20px;
    padding-bottom: 20px;
    max-height: calc(100% - 68px - 64px);
    width: 100%;
    height: 100%;
    flex-grow: 1;  /* 남은 공간을 모두 차지하도록 설정 */
    overflow-y: auto; /* 내부 스크롤 활성화 */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.modal .content_box .inner_content_box .filter_box{
    width: 100%;
    height: auto;
    /* background-color: pink; */
    padding-bottom: 24px;
}
.modal .inner_content_box .filter_box .name{
    margin-bottom: 10px;
    font-size: var(--font-title);
}
.modal .filter_box .button_box{
    width: 100%;
    height: auto;
}
.modal .filter_box .button_box .button_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.modal .filter_box .button_container button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 8px 20px;
    margin-right: 10px;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    border-radius: 20px;
}
.modal .filter_box .button_container button.active{
    background-color: var(--color-light-pink);
    color: var(--app-color);
    border: 1px solid var(--app-color);
}

.modal .modal_bar::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 1px;
    background: var(--nav-stroke);
}
.modal .modal_bar{
    width: 100%;
    max-width: 600px;
    height: 68px;
    background-color: #fff;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
}
.modal .modal_bar .reset_btn{
    font-size: var(--font-body2);
    line-height: 48px; 
    color: var(--color-dark-gray);
    width: 112px;
    height: 48px;
    background-color: transparent;
    margin-right: 20px;
}
.modal .modal_bar .filter_apply_btn{
    font-size: var(--font-body2);
    color: #fff;
    line-height: 48px; 
    width: 100%;
    height: 48px;
    background-color: var(--app-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}